<div class="col-md-auto col-12 d-flex justify-content-center mt-md-0 mt-sm-2 mt-0">
    <button class="page-previous d-inline-flex btn btn-primary"{{#unlessExists previousPage}} disabled{{/unlessExists}} name="offset" value="{{ previousOffset }}" type="submit">&laquo;</button>
    <p class="page-label my-auto mx-3">{{ pageString }}</p>
    <button class="page-next d-inline-flex btn btn-primary"{{#unlessExists nextPage}} disabled{{/unlessExists}} name="offset" value="{{ nextOffset }}" type="submit">&raquo;</button>
</div>