<a class="list-group-item text-truncate py-3 list-group-item-action" href="/playlist/{{id}}">
    <span class="badge badge-secondary mr-1">{{themes.length}}</span>
    <span class="mr-1">{{title}}</span>
</a>