<a class="list-group-item text-truncate py-3{{#if active}} active{{else}} list-group-item-action{{/if}}"{{#unless active}} href="/watch/{{id}}"{{/unless}}>
    <span class="badge badge-secondary mr-1">{{typeString}}</span>
    <span>{{title}}</span>
</a>