<div class="card my-4">
    <img class="card-img-top" src="/img/coming-soon.png">
    <div class="card-body">
        <div class="card-text">
            This is the start of a new extensive, fast and feature rich database for anime themes.
        </div>
    </div>
</div>