<div class="embed-responsive embed-responsive-16by9 my-4">
    <video id="player" controls autoplay class="embed-responsive-item"></video>
    <canvas id="canvas" width="1920" height="1080" class="position-absolute w-100"></canvas>
</div>
<button class="next-button btn btn-primary">Next</button>
<script>
    const themes = {{{json themes}}};
</script>
<script defer src="js/quiz.js"></script>